:root {
    --white-text: #fff;
    --bg-black: #000;
    --green-text: #008000;
    --color-text: #666;
}

.btn-contact {
    border: 1px solid var(--green-text);   
    border-radius: 4px; 
    padding: 20px;
    width:12em;
    text-align: center;
}

.btn-contact:hover {
    background: var(--green-text);
    transition: 0.3s;
}

.link-btn-contact{
    text-decoration: none;
    color: var(--white-text);
}

.link-btn-contact:hover{
    text-decoration: none;
    color: var(--white-text);
}

