
.content-header {
    width: 100%;
    position: fixed;

    background-color: var(--bg-header);
    display: flex;
    justify-content: space-around;
}

.btn-header {
    font-size: 17px;
    background-color: transparent;
    padding: 8px 70px;
    border: transparent;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
}

.btn-header:hover {
    background-color: #333;
}

.btn-header a {
    text-decoration: none;
    color: var(--white-text);
}