.content-projectskill {
    margin-top: 3em;
    background-color: rgba(102, 102, 102, 0.158);
    width: 10em;
    height: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 4px 0px 0px rgb(29, 28, 28);    
    transition: 0.3s;
}

.content-projectskill:hover {
    margin-top: 2.5em;
    background-color: rgba(102, 102, 102, 0.158);
    width: 10em;
    height: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 4px 0px 0px green;
}



span {
    font-size: 17px;
}

.box-projectskill img {
    height: auto;
    width: 3em;
    padding: 3px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.wrap-preview {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
    gap: 12px;
}

.btn-github {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px green;
    width: 10em;
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-github:hover {
    background-color: green;
}

.btn-github img {
    height: auto;
    width: 4em;
}

.btn-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px green;
    width: 10em;
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-preview:hover {
    background-color: green;
}

