* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-text: #fff;
    --bg-black: #18191a;
    --green-text: #008000;
    --color-text: #666;
    --bg-header: #4B4C4E;
    --btn-hover: #055207;
}

body {
    background: var(--bg-black);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-text);
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 60%;
    margin: auto;
    padding-top: 1em;
}

.profile {
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;

}

.p-profile {
    color: var(--white-text);
    font-size: 50px;
}

strong {
    color: var(--green-text);
}

.about-me {
    color: var(--white-text);
    text-align: center;
    font-size: 35px;
    padding: 35px;
    font-weight: bolder;
}

p {
    color: var(--color-text);
}

h1 {
    color: var(--white-text);
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 120px;
}

.down-arrow {
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-top: 30px;
    color: var(--white-text);
}

.img-skills {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1em;
}

.img-skills img {
    width: 5rem;
    padding: 10px;
}

/* Formulário */

form {
    color: var(--color-text);
    font-size: 17px;
    line-height: 2.5em;
    padding-top: 15px;
}

label {
    color: var(--white-text);
}

form input {
    display: block;
    font-size: 17px;
    border: none;
    color: var(--color-text);
    padding-bottom: 10px ;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-text);
    outline: none;
    margin-bottom: 1rem;
    width:20rem;
}

form input:hover {
    border-bottom: 1px solid var(--green-text);
    color: var(--white-text);
}

.form-textarea {
    display: block;
    font-size: 17px;
    color: var(--bg-header);
    padding: 8px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 20rem;
}

.btn-form {
    margin-top: 20px;
    width: 20rem;

    height: 40px;
    border-radius: 5px;
    border: solid 1px var(--green-text);
    font-size: 17px;
    color: var(--green-text);
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.btn-form:hover {
    background-color: var(--green-text);
    color: var(--white-text);
}

#grid-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 20rem;
}

@media (max-width: 625px) {
    .p-profile {
        text-align: center; 
    }
}

@media (max-width: 625px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile img {
        margin-top: 25px;
    }
}

@media (max-width: 970px) {
    .img-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-skills img {
        width: 8rem;
        padding: 10px;
    }
}

@media (max-width: 625px) {
    
    h2 {
        text-align: center;
    }
    
    p {
        text-align: center;
    }

    #contacts {
        text-align: center;
    }

    input {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}