:root {
    --white-text: #fff;
    --bg-black: #000;
    --green-text: #008000;
    --color-text: #666;
}

body {
    background: var(--bg-black);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


nav ul {
    display: flex;
    list-style: none;
    position: fixed;
    gap: 2em;
}

nav ul li a {
    color: var(--white-text);
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 12em;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--white-text);
    background-color: var(--green-text);
    border-radius: 5px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 60%;
    margin: auto;
    padding-top: 1em;
}

.profile {
    color: var(--white-text);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 3em;
}

.p-profile {
    color: var(--white-text);
}


strong {
    color: var(--green-text);
}

.about-me  {
    color: var(--color-text);
    margin-top: -40px;
    text-align: center;
}

p {
    color: var(--color-text);
}

h1 {
    color: var(--white-text);
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

h2 {
    color: var(--white-text);

}

.profile img {
    margin-left: 3em;
    width: 200px;
    height: 200px;
    border-radius: 120px;
    margin-left: 60%;
}

.container h2 {
    font-size: 40px;
}

#projects {
    margin-bottom: 11em;
}

.down-arrow {
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-top: 30px;
    color: var(--white-text);
}

.img-skills img {
    width: 50px;
    padding: 50px;
    transition: 0.5s;
}

.box-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-bottom: 3em;
}

/* Formulário */

.container-form {
    display: flex;
    justify-content: center;
    line-height: 3em;
}

#contacts {
    margin-bottom: 5em;
}

form {
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 100%;
}

.box-form input {
    color: var(--color-text);
    font-size: 17px;
    padding: 5px;
    background: none;
    border: none;
    width: 20em;
    border-bottom: 1px solid var(--color-text);
    outline: none;
    margin: 2em;
    margin-bottom: 1em;
}

.box-form input:hover {
    border-bottom: 1px solid var(--green-text);
    color: var(--white-text);
}

form textarea {
    color: var(--white-text);
    font-size: 17px;
    color: var(--color-text);
    padding: 10px;
    margin-top: 1em;
    width: 70%;
    height: 10em;
    background: none;
    border: none;
    outline: 1px solid var(--color-text);
}

form textarea:hover {
    outline: 1px solid var(--green-text);
    color: var(--white-text);
}

.btn_form {
    display: flex;
    justify-content: center;
    width: 100%;
}