:root {
    --white-text: #fff;
    --bg-black: #000;
    --green-text: #008000;
    --color-text: #666;
}


.content-projectskill {
    margin-top: 3em;
    background-color: rgba(102, 102, 102, 0.158);
    width: 10em;
    height: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 4px 0px 0px rgb(29, 28, 28);
    transition: 0.3s;
}

.content-projectskill:hover {
    margin-top: 2.5em;
    background-color: rgba(102, 102, 102, 0.158);
    width: 10em;
    height: 12em;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 4px 0px 0px green;
}

span {
    font-size: 17px;
    color: var(--white-text);

}

.box-projectskill img {
    height: auto;
    width: 30%;
    padding: 3px;
    margin-top: 2em;
    margin-bottom: 1em;

}

.wrap-preview {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 15px;
}

.btn-github {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--green-text);
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-github:hover {
    background-color: var(--green-text);
}

.btn-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--green-text);
    width: 10em;
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-preview:hover {
    background-color: var(--green-text);
}

.btn-github img {
    display: flex;
    width: 3.5em;
}

.btn-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--green-text);
    height: 50px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    color: var(--white-text);

}

.btn-preview:hover {
    background-color: var(--green-text);
}